@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;

    --card: 219 91% 58%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 202 83% 55%;
    --primary-foreground: 210 40% 98%;

    --secondary: 216 100% 24%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 180 1% 39%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 219 91% 58% / 0.5;
    --ring: 0 0% 100% / 0.75;

    --gr-color1: 241 68% 46% / 0.18;
    --gr-color2: 223 100% 68% / 0.56;
    --gr-color3: 223 100% 72% / 0.56;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply text-sm text-accent-foreground font-normal lg:text-base;
  }
  h1 {
    @apply text-[56px] font-bold sm:text-[64px];
  }
  h2 {
    @apply text-3xl font-bold sm:text-4xl;
  }
  h3 {
    @apply font-semibold text-2xl sm:text-xl;
  }
  h4 {
    @apply text-sm font-semibold w-max sm:text-base;
  }
  h5 {
    @apply text-xs font-normal w-max sm:text-sm;
  }
  label {
    @apply text-sm font-semibold text-background;
  }
}

@layer utilities {
  .gradient-text {
    @apply text-transparent bg-gradient-to-b from-gr-color-2 from-30% to-gr-color-1 bg-clip-text;
  }
  .gradient-text-2 {
    @apply text-transparent bg-gradient-to-r from-primary to-secondary to-20% bg-clip-text;
  }

  .card1 {
    @apply py-[10px] px-[20px] bg-card/10 rounded-[30px];
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
